.main-content {
    .header-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .generate-button {
        margin-top: 30px;
    }

    .calendar {
        margin-top: 50px;
        margin-bottom: 50px;

        .month {
            text-align: center;
            padding-bottom: 30px;
            
            .weekdays {    
                .weekday {
                    position: relative;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
    
                    > span {
                        position: absolute;
                        top: 3px;
                        left: 10px;
                    }
                }
            }

            .month-year {
                display: inline-block;
                text-align: center;
                background-color: rgb(23, 102, 23);;
                width: 210px;
            }

            .month-days {
                .week {
                    line-height: 1;
                    height: 30px;

                    .month-day {
                        position: relative;
                        display: inline-block;
                        width: 30px;
                        height: 30px;

                        > span {
                            position: absolute;
                            top: 3px;
                            left: 10px;
                        }

                        &.invalid {
                            background-color: gray;
                        }

                        &.regular {
                            background-color: green;
                        }

                        &.weekend {
                            background-color: rgb(190, 190, 24);
                        }

                        &.holiday {
                            background-color: darkred
                        }
                    }
                }
            }
        }        
    }
}