.main-content {
    .header-text {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .generate-button {
        margin-top: 30px;
    }

    .calendar {
        margin-top: 50px;
        margin-bottom: 50px;

        .month {
            text-align: center;
            padding-bottom: 30px;

            .weekdays {    
                height: 30px;

                .weekday {
                    position: relative;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
    
                    > span {
                        position: absolute;
                        top: 3px;
                        left: 10px;
                    }
                }
            }

            .month-year {
                display: inline-block;
                text-align: center;
                background-color: rgb(123, 247, 123);;
                width: 210px;                
                line-height: 2.0;
            }

            .month-days {
                .week {
                    line-height: 1;
                    height: 30px;

                    .month-day {
                        position: relative;
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border: 1px solid white;

                        .month-day-text {
                            position: absolute;
                            width: 100%;
                            top: 5px;
                        }

                        &.invalid {
                            background-color: rgb(179, 175, 175);
                        }

                        &.regular {
                            background-color: rgb(43, 156, 43);
                        }

                        &.weekend {
                            background-color: rgb(255, 255, 19);
                        }

                        &.holiday {
                            background-color: rgb(255, 103, 15)
                        }
                    }
                }
            }
        }        
    }
}